@page "/OpenSource"
@rendermode InteractiveServer

@inject NavigationManager NavigationManager
@using Microsoft.AspNetCore.Components.QuickGrid
@using System.Timers
@using IntelVault.ApplicationCore.Interfaces
@using IntelVault.WebAccess.Components.Pages.common
@using IntelVault.ApplicationCore.Model
@using IntelVault.ApplicationCore.Services
@inject IIntelService<OpenSourceInt> Service;
<PageTitle>OpenSource Intel</PageTitle>
<h3>OpenSource Intel Report</h3>


@if (_items == null)
{
    <p><em>Loading...</em></p>
}
else
{
    if (_flag == Crud.List)
    {
        <div class="grid">
            <SearchBar TextButton="Search  Name" SearchText="@SText" Onchange="LoadItemsSearchText"></SearchBar>
            <SfPager @ref="Page" PageSize="@TakeValue" NumericItemsCount=4 TotalItemsCount="@Count" ItemClick="Click">
            </SfPager>

            <SfGrid DataSource="@_items" @ref="Grid">
                <GridColumns>
                    <GridColumn Field=@nameof(OpenSourceInt.SourceName) HeaderText="Name" TextAlign="@TextAlign.Left" Width="65"></GridColumn>
                    <GridColumn Field=@nameof(OpenSourceInt.ReportDate) HeaderText="ReportDate" TextAlign="@TextAlign.Left" Width="65"></GridColumn>
                    <GridColumn Width="50">
                        <Template>
                            @{
                                var ticket = (context as OpenSourceInt);
                            }
                            <SfButton @ref="_editBtn" @onclick="@((args) => Edit(args, ticket))" IsToggle="true" IsPrimary="true">Edit</SfButton>
                            <SfButton @ref="_deleteBtn" @onclick="@((args) => Delete(args, ticket))" IsToggle="true" IsPrimary="true">Delete</SfButton>

                        </Template>
                    </GridColumn>
                </GridColumns>
            </SfGrid>
        </div>

        <div class="btn-sm">
            <SfButton Content="Add OpenSource Intel" IsPrimary="true" @onclick="AddPerson"></SfButton>
        </div>
    }
    else if (_flag == Crud.Add)
    {
      
        <AddOpenSourceView OnIntelChanged="IntelChanged"></AddOpenSourceView>
    }
    else if (_flag == Crud.Update)
    {
       <EditOpenSourceView OpenSourceIntData="OpenSourceInt" OnIntelChanged="IntelChanged"></EditOpenSourceView> 
    }

}
@code {
    private SfButton? _editBtn;
    private SfButton? _deleteBtn;

    Crud _flag = Crud.List;

    List<OpenSourceInt?>? _items;

    public int SkipValue;
    public required SfGrid<OpenSourceInt> Grid { get; set; }
    public int TakeValue = 6;
    public required string SText { get; set; }
    public int Count { get; set; }
    public required SfPager Page { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await LoadItems();

    }

    protected async Task IntelChanged()
    {
        _flag = Crud.List;
        await LoadItems();
        StateHasChanged();
    }

    public void AddPerson()
    {

        _flag = Crud.Add;
        StateHasChanged();
    }


    private OpenSourceInt? OpenSourceInt { get; set; } = new OpenSourceInt();


    private async Task Delete(MouseEventArgs args, OpenSourceInt? context)
    {
        OpenSourceInt = context;
        await Service.Delete(OpenSourceInt);
        await IntelChanged();

    }

    private Task Edit(MouseEventArgs args, OpenSourceInt? context)
    {
        OpenSourceInt = context;
        _flag = Crud.Update;
        return Task.CompletedTask;
    }
    private async Task LoadItems()
    {
        Count = (int)await Service.Count();
        _items = (await Service.GetAll(SkipValue, TakeValue, nameof(OpenSourceInt.SourceName), SText)).ToList();

    }

    public async Task Click(PagerItemClickEventArgs args)
    {
        SkipValue = (args.CurrentPage * Page.PageSize) - Page.PageSize;
        TakeValue = Page.PageSize;
        await LoadItems();
        await Grid.Refresh();
        await Page.RefreshAsync();
        StateHasChanged();
    }

    private async Task LoadItemsSearchText(string text)
    {
        SText = text;
        await LoadItems();
        await Grid.Refresh();
        await Page.RefreshAsync();
        StateHasChanged();
    }
}




