@page "/HumanIntel"
@using IntelVault.ApplicationCore.Model
@using IntelVault.ApplicationCore.Services
@using IntelVault.ApplicationCore.Interfaces
@using IntelVault.WebAccess.Components.Pages.common
<PageTitle>HumanIntel</PageTitle>
<h3>Human Intel Report</h3>
@rendermode InteractiveServer
@inject NavigationManager NavigationManager
@inject IIntelService<HumInt> Service

<Menubar></Menubar>

@if (_items == null)
{
    <p><em>Loading...</em></p>
}
else
{
    if (_flag == Crud.List)
    {
        <div class="grid">
            <SearchBar TextButton="Search Contact Name" SearchText="@SText" Onchange="LoadItemsSearchText"></SearchBar>
            <SfPager @ref="Page" PageSize="@TakeValue" NumericItemsCount=4 TotalItemsCount="@Count" ItemClick="Click">
            </SfPager>
            <SfGrid DataSource="@_items" @ref="Grid">
                <GridColumns>
                    <GridColumn Field=@nameof(HumInt.HumIntType) HeaderText="HumIntType" TextAlign="@TextAlign.Left" Width="65"></GridColumn>
                    <GridColumn Field=@nameof(HumInt.ContactName) HeaderText="ContactName" TextAlign="@TextAlign.Left" Width="65"></GridColumn>
                    <GridColumn Width="50">
                        <Template>
                            @{
                                var ticket = (context as HumInt);
                            }
                            <SfButton @ref="_editBtn" @onclick="@((args) => Edit(args, ticket))" IsToggle="true" IsPrimary="true">Edit</SfButton>
                            <SfButton @ref="_deleteBtn" @onclick="@((args) => Delete(args, ticket))" IsToggle="true" IsPrimary="true">Delete</SfButton>

                        </Template>
                    </GridColumn>
                </GridColumns>
            </SfGrid>
        </div>

        <div class="btn-sm">
            <SfButton IsPrimary="true" @onclick="AddPerson" Content="Add"></SfButton>
        </div>
    }
    else if (_flag == Crud.Add)
    {
        <AddHumanIntel OnIntelChanged="IntelChanged"></AddHumanIntel>
    }
    else if (_flag == Crud.Update)
    {
        <EditHumanIntel HumIntIntel="HumInt" OnIntelChanged="IntelChanged"></EditHumanIntel>
    }


}

@code {
    private SfButton? _editBtn;
    private SfButton? _deleteBtn;
    public int SkipValue;
    public required SfGrid<HumInt> Grid { get; set; }
    public int TakeValue = 6;
    public int Count { get; set; }
    public required SfPager Page { get; set; }
    Crud _flag = Crud.List;

    public string SText { get; set; }
    List<HumInt?>? _items;

    protected override async Task OnInitializedAsync()
    {
        await LoadItems();

    }

    protected async Task IntelChanged()
    {
        _flag = Crud.List;
        await LoadItems();
        HumInt = new HumInt();
        StateHasChanged();
    }

    public void AddPerson()
    {
        _flag = Crud.Add;
        StateHasChanged();
    }

    private HumInt? HumInt { get; set; } = new HumInt();

    private async Task Delete(MouseEventArgs args, HumInt? context)
    {
        HumInt = context;
        await Service.Delete(HumInt);
        await IntelChanged();

    }

    private Task Edit(MouseEventArgs args, HumInt? context)
    {
        HumInt = context;
        _flag = Crud.Update;
        return Task.CompletedTask;
    }

    private async Task LoadItems()
    {
        Count = (int)await Service.Count();
        _items = (await Service.GetAll(SkipValue, TakeValue, nameof(HumInt.ContactName), SText)).ToList();

    }

    public async Task Click(PagerItemClickEventArgs args)
    {
        SkipValue = (args.CurrentPage * Page.PageSize) - Page.PageSize;
        TakeValue = Page.PageSize;
        await LoadItems();
        await Grid.Refresh();
        await Page.RefreshAsync();
        StateHasChanged();
    }

    private async Task LoadItemsSearchText(string text)
    {
        SText = text;
        await LoadItems();
        await Grid.Refresh();
        await Page.RefreshAsync();
        StateHasChanged();
    }
}
