@page "/PersonInterest"
@rendermode InteractiveServer
@using IntelVault.WebAccess.Components.Pages.common
@using IntelVault.ApplicationCore.Interfaces
@using IntelVault.ApplicationCore.Model
@using Microsoft.AspNetCore.Authorization
@inject IIntelService<PersonOfInterest> Service;
<PageTitle>Person Of Interest</PageTitle>
@attribute [Authorize(Roles = "ADMIN")]
<Menubar></Menubar>


@if (_items == null)
{
    <p><em>Loading...</em></p>
}
else
{
    if (_flag == Crud.List)
    {
        <div class="grid">
            <SearchBar TextButton="Search Name" SearchText="@SText" Onchange="LoadItemsSearchText"></SearchBar>
            <SfPager @ref="Page" PageSize="@TakeValue" NumericItemsCount=4 TotalItemsCount="@Count" ItemClick="Click">
            </SfPager>

            <SfGrid DataSource="@_items" @ref="Grid">
                <GridColumns>
                    <GridColumn Field=@nameof(PersonOfInterest.Name) HeaderText="HumIntType" TextAlign="@TextAlign.Left" Width="65"></GridColumn>
                    <GridColumn Field=@nameof(PersonOfInterest.PoliticalGroup) HeaderText="PoliticalGroup" TextAlign="@TextAlign.Left" Width="65"></GridColumn>
                    <GridColumn Field=@nameof(PersonOfInterest.Nationality) HeaderText="Nationality" TextAlign="@TextAlign.Left" Width="65"></GridColumn>
                    <GridColumn Width="50">
                        <Template>
                            @{
                                var ticket = (context as PersonOfInterest);
                            }
                            <SfButton @ref="_editBtn" @onclick="@((args) => Edit(args, ticket))" IsToggle="true" IsPrimary="true">Edit</SfButton>
                            <SfButton @ref="_deleteBtn" @onclick="@((args) => Delete(args, ticket))" IsToggle="true" IsPrimary="true">Delete</SfButton>

                        </Template>
                    </GridColumn>
                </GridColumns>
            </SfGrid>

        </div>

        <div class="btn-sm">
            <SfButton IsPrimary="true" @onclick="AddPerson" Content="Add"></SfButton>
        </div>
    }
    else if (_flag == Crud.Add)
    {
        <AddPersonOfIntrest OnPersonChanged="PersonChanged"></AddPersonOfIntrest>
    }
    else if (_flag == Crud.Update)
    {
        <EditPersonOfIntrest Interest="PersonOfInterest" OnPersonChanged="PersonChanged"></EditPersonOfIntrest>
    }


}

@code {
    private SfButton? _editBtn;
    private SfButton? _deleteBtn;
    private Crud _flag = Crud.List;
    public int SkipValue;
    public required SfGrid<PersonOfInterest> Grid { get; set; }
    public int TakeValue = 6;
    public int Count { get; set; }
    public required SfPager Page { get; set; }
    private IList<PersonOfInterest?>? _items;
    public required string SText { get; set; }
    protected override async Task OnInitializedAsync()
    {
        await LoadItems();
    }

    protected async Task PersonChanged()
    {
        _flag = Crud.List;
        await LoadItems();
      
        StateHasChanged();
    }

    public void AddPerson()
    {
       _flag = Crud.Add;
       StateHasChanged();
    }
  
    private PersonOfInterest? PersonOfInterest { get; set; } = new PersonOfInterest();

    private async Task Delete(MouseEventArgs args, PersonOfInterest? context)
    {
        PersonOfInterest = context;
        await Service.Delete(context);
        await PersonChanged();

    }

    private Task Edit(MouseEventArgs args, PersonOfInterest? context)
    {
        PersonOfInterest = context;
        _flag = Crud.Update;
        return Task.CompletedTask;
    }

    private async Task LoadItems()
    {
        Count = (int)await Service.Count();
        _items = (await Service.GetAll(SkipValue, TakeValue, nameof(PersonOfInterest.Name), SText)).ToList();

    }

    public async Task Click(PagerItemClickEventArgs args)
    {
        SkipValue = (args.CurrentPage * Page.PageSize) - Page.PageSize;
        TakeValue = Page.PageSize;
        await LoadItems();
        await Grid.Refresh();
        await Page.RefreshAsync();
        StateHasChanged();
    }

    private async Task LoadItemsSearchText(string text)
    {
        SText = text;
        await LoadItems();
        await Grid.Refresh();
        await Page.RefreshAsync();
        StateHasChanged();
    }
}
