@page "/SocialMedia"
@using IntelVault.WebAccess.Components.Pages.common
@using IntelVault.ApplicationCore.Model
@using IntelVault.ApplicationCore.Interfaces
@rendermode InteractiveServer
@inject NavigationManager NavigationManager
@inject IIntelService<SocialMedia> Service;
<PageTitle>Social Medial</PageTitle>
<h3>SocialMediaView</h3>


@if (Items == null)
{
    <p><em>Loading...</em></p>
}
else
{
    switch (_flag)
    {
        case Crud.List:
            <SearchBar TextButton="Search DisplayName Name" SearchText="@SText" Onchange="LoadItemsSearchText"></SearchBar>
            <SfPager @ref="Page" PageSize="@TakeValue" NumericItemsCount=4 TotalItemsCount="@Count" ItemClick="Click">
            </SfPager>

            <SfGrid DataSource="@Items" @ref="Grid">
                <GridColumns>
                    <GridColumn Width="50">
                        <Template>
                            @{
                                var ticket = (context as SocialMedia);
                            }
                            <SfButton @ref="_editBtn" @onclick="@((args) => Edit(args, ticket))" IsToggle="true" IsPrimary="true">Edit</SfButton>
                            <SfButton @ref="_deleteBtn" @onclick="@((args) => Delete(args, ticket))" IsToggle="true" IsPrimary="true">Delete</SfButton>
                        </Template>
                    </GridColumn>
                    <GridColumn Field=@nameof(SocialMedia.DisplayName) HeaderText="DisplayName" TextAlign="@TextAlign.Left" Width="65"></GridColumn>
                    <GridColumn Field=@nameof(SocialMedia.Username) HeaderText="Username" TextAlign="@TextAlign.Left" Type="ColumnType.Date" Width="65"></GridColumn>
                    <GridColumn Field=@nameof(SocialMedia.Platform) HeaderText="Platform" TextAlign="@TextAlign.Left" Width="65"></GridColumn>
                    <GridColumn Field=@nameof(SocialMedia.Location) HeaderText="Location" TextAlign="@TextAlign.Left" Width="65"></GridColumn>
                </GridColumns>
            </SfGrid>

            <div class="btn-sm">
                <SfButton IsPrimary="true" @onclick="AddPerson"  Content="Add"></SfButton>
            </div>
            break;
        case Crud.Add:
            <AddSocialMediaView OnIntelChanged="IntelChanged"></AddSocialMediaView>
            break;
        case Crud.Update:
            <EditSocialMediaView SocialMediaItem="Intel" OnIntelChanged="IntelChanged"></EditSocialMediaView>
            break;
    }
}

@code {
    private SocialMedia? Intel { get; set; } = new();

    private Crud _flag = Crud.List;

    private SfButton? _editBtn;
    private SfButton? _deleteBtn;
    public List<SocialMedia?>? Items { get; set; }
    public int SkipValue;
    public required SfGrid<SocialMedia> Grid { get; set; }
    public int TakeValue = 6;
    public int Count { get; set; }
    public required SfPager Page { get; set; }

    public required string SText { get; set; }
    /// <inheritdoc />
    protected override async Task OnInitializedAsync()
    {
        await LoadItems();
    }


    protected async Task IntelChanged()
    {
        _flag = Crud.List;
        await LoadItems();
        StateHasChanged();
    }

    public void AddPerson()
    {
        _flag = Crud.Add;
    }

    private async Task Delete(MouseEventArgs args, SocialMedia? context)
    {
        Intel = context;
        await Service.Delete(Intel);
        await IntelChanged();
    }

    private Task Edit(MouseEventArgs args, SocialMedia? context)
    {
        Intel = context;
        _flag = Crud.Update;
        return Task.CompletedTask;
    }
    private async Task LoadItems()
    {
        Count = (int)await Service.Count();
        Items = (await Service.GetAll(SkipValue, TakeValue, nameof(SocialMedia.DisplayName), SText)).ToList();

    }

    public async Task Click(PagerItemClickEventArgs args)
    {
        SkipValue = (args.CurrentPage * Page.PageSize) - Page.PageSize;
        TakeValue = Page.PageSize;
        await LoadItems();
        await Grid.Refresh();
        await Page.RefreshAsync();
        StateHasChanged();
    }

    private async Task LoadItemsSearchText(string text)
    {
        SText = text;
        await LoadItems();
        await Grid.Refresh();
        await Page.RefreshAsync();
        StateHasChanged();
    }

}
